---
import I18n from './I18n.astro';
import { stats } from '../data/site';
---

<div class="stats reveal">
  {
    stats.map((stat) => (
      <div class="stat">
        <div class="stat-num">
          {typeof stat.num === 'string' ? (
            stat.num
          ) : (
            <I18n en={stat.num.en} zh={stat.num.zh} />
          )}
        </div>
        <div class="stat-label">
          <I18n en={stat.label.en} zh={stat.label.zh} />
        </div>
      </div>
    ))
  }
</div>
