---
import I18n from './I18n.astro';
import BuildCards from './BuildCards.astro';
import { blogCards } from '../data/projects';
---

<section class="section reveal" id="blog">
  <h2 class="section-title">
    <I18n en="Blog" zh="博客" />
  </h2>
  <BuildCards projects={blogCards} layout="scroll" cardStyle="compact" gridVariant="blog" />
</section>
